.nft_container {
  color: white;
  max-width: 1320px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft_container h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0px 25px;
}

.nft_container p {
  max-width: 671px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0px 25px;
}

.nft {
  margin-top: 50px;
  position: relative;
  perspective: 1900px;
}

@keyframes animate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.nft .nft_img {
  display: block;
  max-width: 100%;
  cursor: pointer;
  transition: transform ease-in 800ms;
}

.rotate.nft .nft_img {
  animation: animate 3s linear;
  animation-direction: alternate-reverse;
}

.nft_img:hover,
.nft_img:active {
  transform: translateY(-50px);
}

/* NFT controls */

.controls_position {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.cliped_border {
  -webkit-clip-path: polygon(
    10% 0,
    90% 1%,
    100% 50%,
    90% 100%,
    10% 100%,
    0 50%
  );
  clip-path: polygon(10% 0, 90% 1%, 100% 50%, 90% 100%, 10% 100%, 0 50%);

  display: inline-block;
  background: #33696a;
  position: relative;

  width: 140px;
  height: 50px;
}

.controls_container {
  -webkit-clip-path: polygon(
    10% 0,
    90% 1%,
    100% 50%,
    90% 100%,
    10% 100%,
    0 50%
  );
  clip-path: polygon(10% 0, 90% 1%, 100% 50%, 90% 100%, 10% 100%, 0 50%);

  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 46px;
  background-color: #071b41;
}

.controls_container button {
  all: unset;
  cursor: pointer;
}
.controls_container button:not(:first-child) {
  display: none;
}

.controls_container button:active {
  scale: 0.95;
}

.controls_container button svg {
  width: 40px;
  height: 40px;
}

.rotate_icon {
  color: #84fbfd;
  padding: 0 20px;
}

@media (min-width: 786px) {
  .nft_container h2 {
    font-size: 5rem;
  }

  .nft_container p {
    font-size: 24px;
  }

  .cliped_border {
    -webkit-clip-path: polygon(
      50% 0%,
      100% 17%,
      100% 85%,
      50% 100%,
      0 85%,
      0 17%
    );
    clip-path: polygon(50% 0%, 100% 17%, 100% 85%, 50% 100%, 0 85%, 0 17%);
    display: inline-block;
    background: #33696a;
    position: relative;
    width: 77px;
    height: 180px;
  }
  .controls_position {
    top: 0%;
    right: 0%;
    bottom: unset;
    left: unset;
  }

  .controls_container {
    -webkit-clip-path: polygon(
      50% 0%,
      100% 17%,
      100% 85%,
      50% 100%,
      0 85%,
      0 17%
    );
    clip-path: polygon(50% 0%, 100% 17%, 100% 85%, 50% 100%, 0 85%, 0 17%);
    flex-direction: column;
    position: absolute;
    top: 2px;
    left: 50%;
    width: 75px;
    height: 176px;
  }

  .controls_container button:not(:first-child) {
    display: block;
  }
}
