@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "Andale Mono";
  src: local("Andale Mono"), url("./fonts/AndaleMono.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Copperplate";
  src: local("Copperplate"),
    url("./fonts/Copperplate\ Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "New Peninim MT";
  src: local("New Peninim MT"),
    url("./fonts/new-peninim-mt-2.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "New Peninim MT";
  src: local("New Peninim MT"),
    url("./fonts//new-peninim-mt-bold-2.ttf") format("truetype");
  font-weight: bold;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000017;
  font-family: "New Peninim MT", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
